.section-padding {
  padding-top: 3rem;
  padding-right: 7rem;
  padding-bottom: 3rem;
  padding-left: 7rem;
}

.section-height {
  min-height: 90vh;
}

.about-img {
  height: 350px;
}

.bg-section2 {
  background-color: #ECF4FF;
}

.statistics-card {
  width: 31%;
  background: #fff;
}

.text-lightgray {
  color: #667085;
}

.w-33 {
  width: 31%;
}

.goal-cards {
  border: 1px solid #3686F7;
}

.highlights-card {
  width: 49%;
  border: 1px solid #3686F7;
}

@media(max-width:768px) {
  .section-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .statistics-card {
    width: 100%;
    background: #fff;
  }

  .w-33 {
    width: 100%;
  }

  .highlights-card {
    width: 100%;
  }
}

@media(min-width:768px) and (max-width:1023px) {
  .section-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .statistics-card {
    width: 47%;
    background: #fff;
  }

  .w-33 {
    width: 47%;
  }

  .highlights-card {
    width: 49%;
  }
}

@media(min-width:1024px) and (max-width:1200px) {
  .section-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .statistics-card {
    width: 47%;
    background: #fff;
  }

  .w-33 {
    width: 48%;
  }

  .highlights-card {
    width: 49%;
  }
}