.section-padding {
    padding-top: 3rem;
    padding-right: 7rem;
    padding-bottom: 3rem;
    padding-left: 7rem;
}

.work-card {
    width: 32%;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px #2D32821A;
}

@media(max-width:640px) {
    .section-padding {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .work-card {
        width: 100%;
    }
}

@media(min-width:640px) and (max-width:768px) {
    .section-padding {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .work-card {
        width: 49%;
    }
}

@media(min-width:768px) and (max-width:1023px) {
    .section-padding {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .work-card {
        width: 49%;
    }
}

@media(min-width:1024px) and (max-width:1200px) {
    .section-padding {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .work-card {
        width: 49%;
    }
}

@media(min-width:1200px) and (max-width:1400px) {
    .section-padding {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .work-card {
        width: 32%;
    }
}